    <!-- Footer -->
    <footer class="border-t bg-white px-8">
      <div class="w-full max-w-7xl mx-auto py-16">
        <div class="grid grid-cols-1 gap-8 md:grid-cols-4">
          <div class="md:col-span-2">
            <a href="/" class="mb-4 inline-block font-serif text-2xl font-medium tracking-tight"> Gareth de Walters </a>
            <p class="text-muted-foreground mb-6 max-w-md">Hi, I’m Gareth. This is where I share personal projects and reflections from a career creating digital experiences for leading organisations in New Zealand and the UK.</p>
            <div class="flex space-x-4">
              <a href="https://bsky.app/profile/gdewalters.bsky.social" class="hover:text-huntergreen text-gray-600 transition-colors" aria-label="Bluesky">
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                  <path d="M18.231,3.618c-2.312,1.736-4.785,5.107-5.948,7.244c-0.123,0.226-0.444,0.226-0.567,0	c-1.163-2.137-3.636-5.508-5.948-7.244C3.949,2.252,1,1.195,1,4.559c0,0.672,0.385,5.643,0.611,6.451	c0.606,2.169,2.454,3.089,4.437,3.195c0.19,0.01,0.222,0.261,0.043,0.324c-2.988,1.048-3.518,3.196-1.424,5.344	c3.826,3.894,5.814,0.647,6.733-1.514c0.224-0.525,0.977-0.525,1.2,0c0.92,2.161,2.907,5.408,6.733,1.514	c2.093-2.148,1.564-4.296-1.424-5.344c-0.179-0.063-0.146-0.313,0.043-0.324c1.983-0.106,3.83-1.026,4.437-3.195	C22.615,10.203,23,5.231,23,4.559C23,1.195,20.051,2.252,18.231,3.618z"/> 
                </svg>
              </a>
              <a href="https://www.instagram.com/gdewalters/" class="hover:text-huntergreen text-gray-600 transition-colors" aria-label="Instagram">
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                  <rect width="20" height="20" x="2" y="2" rx="5" ry="5" />
                  <path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z" />
                  <line x1="17.5" x2="17.51" y1="6.5" y2="6.5" />
                </svg>
              </a>
              <a href="https://www.linkedin.com/in/gdewalters/" class="hover:text-huntergreen text-gray-600 transition-colors" aria-label="LinkedIn">

                <svg xmlns="http://www.w3.org/2000/svg" height="24" width="24" viewBox="0 0 72 72" class="mt-0.85>
                  <g fill="none" fill-rule="evenodd">
                    <path d="M8,72 L64,72 C68.418278,72 72,68.418278 72,64 L72,8 C72,3.581722 68.418278,-8.11624501e-16 64,0 L8,0 C3.581722,8.11624501e-16 -5.41083001e-16,3.581722 0,8 L0,64 C5.41083001e-16,68.418278 3.581722,72 8,72 Z" fill="currentColor" />
                    <path d="M62,62 L51.315625,62 L51.315625,43.8021149 C51.315625,38.8127542 49.4197917,36.0245323 45.4707031,36.0245323 C41.1746094,36.0245323 38.9300781,38.9261103 38.9300781,43.8021149 L38.9300781,62 L28.6333333,62 L28.6333333,27.3333333 L38.9300781,27.3333333 L38.9300781,32.0029283 C38.9300781,32.0029283 42.0260417,26.2742151 49.3825521,26.2742151 C56.7356771,26.2742151 62,30.7644705 62,40.051212 L62,62 Z M16.349349,22.7940133 C12.8420573,22.7940133 10,19.9296567 10,16.3970067 C10,12.8643566 12.8420573,10 16.349349,10 C19.8566406,10 22.6970052,12.8643566 22.6970052,16.3970067 C22.6970052,19.9296567 19.8566406,22.7940133 16.349349,22.7940133 Z M11.0325521,62 L21.769401,62 L21.769401,27.3333333 L11.0325521,27.3333333 L11.0325521,62 Z" fill="#FFF" />
                  </g>
                </svg>

              </a>
            </div>
          </div>

          <div>
            <h3 class="mb-4 text-sm font-medium tracking-wider uppercase">Explore</h3>
            <ul class="space-y-2">
              <li><a href="/" class="text-muted-foreground hover:text-huntergreen text-sm transition-colors">Home</a></li>
              <li><a href="/writing/" class="text-muted-foreground hover:text-huntergreen text-sm transition-colors">Writing</a></li>
              <li><a href="/currently/listening" class="text-muted-foreground hover:text-huntergreen text-sm transition-colors">Listening</a></li>
            </ul>
          </div>

          <div>
            <h3 class="mb-4 text-sm font-medium tracking-wider uppercase">Information</h3>
            <ul class="space-y-2">
              <li><a href="/about/" class="text-muted-foreground hover:text-huntergreen text-sm transition-colors">About</a></li>
              <li><a href="/" class="text-muted-foreground hover:text-huntergreen text-sm transition-colors">Privacy policy</a></li>
              <li><a href="/" class="text-muted-foreground hover:text-huntergreen text-sm transition-colors">Terms of use</a></li>
              <li><a href="/" class="text-muted-foreground hover:text-huntergreen text-sm transition-colors">Cookie policy</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="border-t">
        <div class="w-full max-w-7xl mx-auto flex flex-col items-center justify-between py-6 md:flex-row">
          <p class="text-muted-foreground mb-4 text-sm md:mb-0">&copy; 2020-2025 Gareth de Walters. All rights reserved.</p>
          <button class="group inline-flex items-center text-sm font-medium">
            Back to top
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="ml-2 transition-transform group-hover:-translate-y-1">
              <line x1="12" y1="19" x2="12" y2="5"></line>
              <polyline points="5 12 12 5 19 12"></polyline>
            </svg>
          </button>
        </div>
      </div>
    </footer>