---js
{
    // Data for the Eleventy Navigation plugin

    
    // Other page-specific front matter
    layout: "layouts/base.njk",
    title: "Currently",
    permalink: "/currently/index.html",
    eleventyComputed: {
        post: async (data) => data.getContentfulPageCurrently
    },
}
---
      <article class="w-full max-w-7xl mx-auto">
        <!-- Page meta section -->
        <section class="mb-16 text-center">
            <!-- Page title -->
            <h1 class="font-serif text-4xl leading-tight font-medium md:text-5xl lg:text-6xl mb-6 text-left sm:text-center">Currently</h1>
        </section>

        <!-- Page content -->
        <section class="flex justify-center">
            <!-- The 'prose' class from @tailwindcss/typography plugin will style the content -->
            <div class="prose max-w-prose w-full">

              <ul>
                <li><a href="/currently/reading.html">Reading</a></li>
                <li><a href="/currently/listening.html">Listening</a></li>
                <li><a href="/currently/watching.html">Watching</a></li>      
              </ul>

            </div>
        </section>
      </article>