---js
{
    // Data for the Eleventy Navigation plugin
    eleventyNavigation: {
        key: "Notes",
        order: 3,
		parent: "mainNav"
    },
    
    // Other page-specific front matter
    layout: "layouts/base.njk",
    title: "Links, notes, and ephemera",
    permalink: "/notes/index.html",
    eleventyComputed: {
        post: async (data) => data.getContentfulPageNotes
    },
}
---

{% set notesDeck = getContentfulNotes %}

{# Section for Notes, links, and emphemera #}
<section class="py-6 bg-white">
  <div class="w-full max-w-3xl mx-auto">
    <h2 class="font-serif text-3xl font-medium mb-8 text-left">Links, notes, and ephemera</h2>
    
    <div class="grid grid-cols-1 gap-8">
      {% for note in notesDeck %}
        <article class="p-6 border border-gray-200 rounded-lg shadow-sm hover:shadow-md transition-shadow duration-300">
          <a href="/notes/{{ note.datePublished | htmlDateString }}-{{ note.noteTitle | slug }}/" class="block no-underline hover:underline underline-offset-2">
            <h3 class="font-serif text-xl font-medium mb-2">{{ note.noteTitle }}</h3>
          </a>
          {% if note.authorCommentary %}
          <div class="text-foreground text-sm mb-4">
            <div class="prose">
              {{ note.authorCommentary | safe }}
            </div>
          </div>
          {% endif %}

          {% if note.datePublished %}
          <div class="text-muted-foreground text-xs">
            <span>{{ note.datePublished | readableDate }}</span>
          </div>
          {% endif %}
        </article>
      {% endfor %}
    </div>
  </div>
</section>
