---js
{
    // Data for the Eleventy Navigation plugin
    eleventyNavigation: {
        key: "Notes",
        order: 3,
		parent: "mainNav"
    },
    
    // Other page-specific front matter
    layout: "layouts/base.njk",
    title: "Links, notes, and ephemera",
    permalink: "/notes/index.html",
    eleventyComputed: {
        post: async (data) => data.getContentfulPageNotes
    },
}
---

      <article class="w-full max-w-7xl mx-auto">
        <!-- Page meta section -->
        <section class="mb-16 text-center">
            <!-- Page title -->
            <h1 class="font-serif text-4xl leading-tight font-medium md:text-5xl lg:text-6xl mb-6 text-left sm:text-center">Links, notes, and ephemera</h1>
        </section>

        {% set notesDeck = getContentfulNotes %}

        {# Section for Notes, links, and emphemera #}
        <section class="flex justify-center">
          <div class="w-full max-w-prose mx-auto">
              <div class="grid grid-cols-1 gap-8">
                {% for note in notesDeck %}
                  <article class="p-6 border border-gray-200 rounded-lg shadow-sm hover:shadow-md transition-shadow duration-300">

                    <div class="flex items-center gap-2 text-s text-muted-foreground">
                      <a href="{{note.externalLink}}" class="block no-underline hover:underline underline-offset-2">
                        <h3 class="font-serif text-xl font-medium mb-2">{{ note.noteTitle }}</h3>
                      </a>
                      <a href="/notes/{{ note.datePublished | htmlDateString }}-{{ note.noteTitle | slug }}/" class="text-muted-foreground hover:text-foreground no-underline"> 
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"
                            class="w-[1em] h-[1em] shrink-0" preserveAspectRatio="xMidYMid meet">
                          <!-- crimson bands -->
                          <path class="fill-[var(--color-vividcrimson)]" d="M -0.5,-0.5 C 170.167,-0.5 340.833,-0.5 511.5,-0.5C 511.5,52.1667 511.5,104.833 511.5,157.5C 426.124,111.568 340.791,65.2351 255.5,18.5C 170.405,64.9257 85.0713,110.926 -0.5,156.5C -0.5,104.167 -0.5,51.8333 -0.5,-0.5 Z"/>
                          <path class="fill-[var(--color-vividcrimson)]" d="M 511.5,223.5 C 511.5,245.167 511.5,266.833 511.5,288.5C 426.094,242.466 340.76,196.466 255.5,150.5C 169.795,196.016 84.4612,242.016 -0.5,288.5C -0.5,266.5 -0.5,244.5 -0.5,222.5C 84.7531,176.871 170.086,131.204 255.5,85.5C 341.079,130.958 426.412,176.958 511.5,223.5 Z"/>
                          <path class="fill-[var(--color-vividcrimson)]" d="M 511.5,354.5 C 511.5,376.167 511.5,397.833 511.5,419.5C 426.03,373.437 340.697,327.437 255.5,281.5C 170.177,327.495 84.8432,373.495 -0.5,419.5C -0.5,397.833 -0.5,376.167 -0.5,354.5C 84.5478,308.154 169.881,262.154 255.5,216.5C 340.697,262.437 426.03,308.437 511.5,354.5 Z"/>
                          <path class="fill-[var(--color-vividcrimson)]" d="M 511.5,485.5 C 511.5,494.167 511.5,502.833 511.5,511.5C 340.833,511.5 170.167,511.5 -0.5,511.5C -0.5,502.833 -0.5,494.167 -0.5,485.5C 84.8748,439.481 170.208,393.481 255.5,347.5C 340.572,393.887 425.906,439.887 511.5,485.5 Z"/>
                          <!-- white bands -->
                          <path class="fill-[var(--color-background)]" d="M 511.5,157.5 C 511.5,179.5 511.5,201.5 511.5,223.5C 426.412,176.958 341.079,130.958 255.5,85.5C 170.086,131.204 84.7531,176.871 -0.5,222.5C -0.5,200.5 -0.5,178.5 -0.5,156.5C 85.0713,110.926 170.405,64.9257 255.5,18.5C 340.791,65.2351 426.124,111.568 511.5,157.5 Z"/>
                          <path class="fill-[var(--color-background)]" d="M 511.5,288.5 C 511.5,310.5 511.5,332.5 511.5,354.5C 426.03,308.437 340.697,262.437 255.5,216.5C 169.881,262.154 84.5478,308.154 -0.5,354.5C -0.5,332.5 -0.5,310.5 -0.5,288.5C 84.4612,242.016 169.795,196.016 255.5,150.5C 340.76,196.466 426.094,242.466 511.5,288.5 Z"/>
                          <path class="fill-[var(--color-background)]" d="M 511.5,419.5 C 511.5,441.5 511.5,463.5 511.5,485.5C 425.906,439.887 340.572,393.887 255.5,347.5C 170.208,393.481 84.8748,439.481 -0.5,485.5C -0.5,463.5 -0.5,441.5 -0.5,419.5C 84.8432,373.495 170.177,327.495 255.5,281.5C 340.697,327.437 426.03,373.437 511.5,419.5 Z"/>
                        </svg>
                      </a>
                    </div>

                    {% if note.authorCommentary %}
                    <div class="text-foreground text-sm mb-4">
                      <div class="prose">
                        {{ note.authorCommentary | safe }}
                      </div>
                    </div>
                    {% endif %}

                    {% if note.datePublished %}
                    <div class="text-muted-foreground text-xs">
                      <span>{{ note.datePublished | readableDate }}</span>
                    </div>
                    {% endif %}
                  </article>
                {% endfor %}
              </div>
          </div>
        </section>
     </article> 
