<section class="page-header section-sm">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-10">
        <div class="row g-4 g-lg-5 text-center text-lg-start justify-content-center justify-content-lg-start">
          <div class="col-lg-3 col-md-4 col-sm-5 col-6">
            <img class="img-fluid rounded" src="/assets/images/author/gareth-de-walters.webp" alt="Gareth de Walters" width="250" height="250">
          </div>
          <div class="col-lg-9 col-md-12">
            <p class="mb-2"><span class="text-uppercase fw-bold text-black">Hi, I'm Gareth // Su’mae, Gareth ydw i</span></p>
            <h1 class="h3 text-dark mb-3">I make websites</h1>
            <div class="content">
              <p>I'm an Auckland-based website manager. I've produced websites and digtal experiences for the British Film Institute, the University of Auckland, Tāmaki Paenga Hira Auckland War Memorial Museum, Vodafone NZ, Heart Foundation NZ and Chorus.</p>
              <p>I write about the web, <a href="/topics/genealogy/">genealogy</a>, history, music and <a href="/topics/food-and-drink/">food</a>.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>