---
layout: layouts/level-1.njk
pageTitle: Search Gareth de Walters' personal website
pageSummaryDefault: Site search
pageSummaryMobile: 
seoTitle: Search Gareth de Walters' personal website
seoDescription: 
canonicalURL: https://garethdewalters.com/search
opengraphTitle: Search Gareth de Walters' personal website
opengraphDescription: 
opengraphImage:
opengraphType: text/html
opengraphLocale: en_NZ
---
<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-auto">
        <div class="archive-block">

          <link href="/pagefind/pagefind-ui.css" rel="stylesheet">
          <script src="/pagefind/pagefind-ui.js"></script>
          <div id="search"></div>
          <script>
              window.addEventListener('DOMContentLoaded', (event) => {
                  new PagefindUI({ element: "#search", showSubResults: true });
              });
          </script>

        </div>
      </div>
    </div>
  </div>
</section>