---
layout: layouts/level-1.njk
pageTitle: Writing
pageSummaryDefault: Here’re a few words I’ve written. If you like them, you can subscribe to my RSS feed.
pageSummaryMobile: Here’re a few words I’ve written. If you like them, you can subscribe to my RSS feed.
seoTitle: Writing
seoDescription: Here’re a few words I’ve written. If you like them, you can subscribe to my RSS feed.
canonicalURL: https://garethdewalters.com/
opengraphTitle: Writing
opengraphDescription: Here’re a few words I’ve written. If you like them, you can subscribe to my RSS feed.
opengraphImage:
opengraphType: text/html
opengraphLocale: en_NZ
eleventyExcludeFromCollections: true
eleventyNavigation:
  key: Writing
  order: 2
---
{% set postslist = collections.posts %}
{% include "partials/writing-list.njk" %}